<!--Nezaskrtnunty check box-->

<label class="checkbox-inline">
    <input id="EW3" value="EW3" type="checkbox"> EW3
</label>
<!--zakazany check box-->

<label class="checkbox-inline">
    <input id="EW1" value="EW1" type="checkbox" checked=""> EW1
</label>

<!--Zaskrtnunty check box-->
<label class="checkbox-inline">
    <input id="EW2" value="EW2" type="checkbox" disabled=""> EW2
</label>

