<div id="control-panel">
    <div class="container">
        <div class="col-xs-12">
            <button class="btn btn-wide">Export</button>

        </div>
    </div>
</div>

<script>
    (function ($) {
        $('#control-panel').affix({
            offset: {
                //moment, odkdy se referovana kompoenenta vrati na sve puvodni misto
                //(presne byt fixovana na danou pozici), a to v pripade, ze je uzivatel 
                // vyse v okne, nez je tato hodnota
                //hodnota se vypocita jako pozice komponenty, ke ktere se ma affix vztahovat
                //minus velikost prave zobrazeneho okna uzivateli plus
                //offset (napr vyska headeru plus vyska prvni radky tabulky)
                top: ($('#search-result').offset().top - $(window.top).height() + 120),
                //podobne jako top, ale odspoda
                //hodnota je rovna velikosti celeho HTML obsahu minus pozice komponenty, ke ktere se ma affix vztahovat,
                // minus vyska one komponenty minus offset(napr. pagination tabulky)
                bottom: ($(document).height() - 120 - ($('#search-result').offset().top + $('#search-result').height()))
            }
        });

    })(jQuery);



</script>