<!--Vyzaduje import skriptu 
jquery-ui-timepicker-addon.js
jquery-ui-sliderAccess.js
date-picker.js-->


<!--datepicker-->
<div class="datepicker">
    <input class="datepicker-trigger" value="" type="text">
</div>

<!--timepicker (moznost s casem)-->
<div class="datepicker">
    <input class="datepicker-trigger" value="" type="text">
</div>