<div class="panel panel-client-detail panel-client-detail-lg">
    <div aria-expanded="false" class="panel-heading collapsed" role="button" id="financial-report-header" data-toggle="collapse" href="#financial-report" aria-controls="financial-report">
        <h3 class="panel-title">
            Financial report
        </h3>
    </div>
    <div style="height: 0px;" aria-expanded="false" id="financial-report" class="panel-collapse collapse" role="tabpanel" aria-labelledby="financial-report-header">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Financial indicator</th>
                        <th>2013 December YE</th>
                        <th>2014 December NYE</th>
                        <th>2015 June NYE</th>
                        <th>2014 June NYE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>EBIT</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                    </tr>
                    <tr>
                        <td>Total Turnover (mil. kc)</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                    </tr>
                    <tr>
                        <td>Total Turnover (mil. kc)</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                    </tr>
                    <tr>
                        <td>Total Turnover (mil. kc)</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                    </tr>
                    <tr>
                        <td>Total Turnover (mil. kc)</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                        <td>32 345</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>