<!--Zakladni ikona-->
<span class="icon-{jmeno ikony}"></span>

<!--Ikona s tooltipem (napr napovedou nebo zpravou) -->
<span data-original-title="Text tooltipu" class="icon-{jmeno ikony}" title="" data-toggle="tooltip" data-placement="{top|left|bottom|right}"></span>