<!--
Komponenta je vytvorena jako bootstrap .panel, ktery umoznuje funkcionalitu collapse
Pro zvetseni nadpisu panelu se pouzije trida panel-client-detail-lg
Trida panel-client-detail upravuje zakladni nastaveni tridy panel tak, aby
po otrevreni panelu zmizelo odsazeni a box shadow
-->
<div class="panel panel-client-detail panel-client-detail-lg">
    <div aria-expanded="false" class="panel-heading collapsed" role="button" id="open-signals-header" data-toggle="collapse" href="#open-signals" aria-controls="open-signals">
        <h3 class="panel-title">
<!--            Jmeno sekce-->
        </h3>
    </div>
    <div  aria-expanded="false" id="open-signals" class="panel-collapse collapse" role="tabpanel" aria-labelledby="open-signals-header">
        <div class="panel-body">
           <!--data sekce-->
        </div>


    </div>
</div>