<!--Nezaskrtnunty radio button-->
<div class="radio">
    <label>
        <input name="vyhledavani" id="vyhledavani1" value="option1" type="radio">
        <span>Vyhledávání klientu (PO/FOP)</span>
    </label>
</div>
<!--Zakazany radio button-->

<div class="radio">
    <label>
        <input name="vyhledavani" id="vyhledavani2" value="option2" type="radio" disabled>
        <span>Vyhledávání ESSO skupin</span>
    </label>
</div>


<!--Zaskrtnunty radio button-->
<div class="radio">
    <label>
        <input name="vyhledavani" id="vyhledavani1" value="option1" checked="" type="radio" >
        <span>Vyhledávání klientu (PO/FOP)</span>
    </label>
</div>


