<div class="panel panel-client-detail panel-client-detail-lg">
    <div aria-expanded="false" class="panel-heading collapsed" role="button" id="open-signals-header" data-toggle="collapse" href="#open-signals" aria-controls="open-signals">
        <h3 class="panel-title">
            Seznam otevrenych signalu (1)
        </h3>
    </div>
    <div style="height: 0px;" aria-expanded="false" id="open-signals" class="panel-collapse collapse" role="tabpanel" aria-labelledby="open-signals-header">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID Signalu</th>
                        <th>Typ signalu</th>
                        <th>Klasifikace signalu</th>
                        <th>Stav signalu</th>
                        <th>Datum zachyceni signalu</th>
                        <th>Datum posledni zmeny signalu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="link-signal">92002 </a><span class="pull-right icon-check-green"></span></td>
                        <td>Pokles kreditnich zustatku</td>
                        <td>EW1</td>
                        <td>Zachyceny</td>
                        <td>21.05.2015</td>
                        <td>21.05.2015</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>