/*!
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

.slider-wrapper input[type=text].slider.w-150 {
  width: 150px;
}

.slider-wrapper input[type=text].slider.w-200 {
  width: 200px;
}

.slider-wrapper input[type=text].slider.w-250 {
  width: 250px;
}

.slider-wrapper input[type=text].slider.w-300 {
  width: 300px;
}

.slider-wrapper {
  margin-top: 34px;
}

.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.slider.slider-horizontal {
  width: 210px;
  height: 20px;
}
.slider.slider-horizontal .slider-track {
  height: 6px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
  position: relative;
}

.slider.slider-horizontal .slider-track .sign {
  position: absolute;
  font-size: 14px;
  bottom: -22px;
  text-align: center;
  color: #005593;
}

.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-handle {
  margin-left: 0px;
  margin-top: 0px;
  background: #9bbad1;
  width: 1px;
  height: 6px;
  opacity: 1;
}
.slider.slider-horizontal .slider-handle.hide {
  display: none;
}
.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0;
}
.slider.slider-vertical {
  height: 210px;
  width: 20px;
}
.slider.slider-vertical .slider-track {
  width: 10px;
  height: 100%;
  margin-left: -5px;
  left: 50%;
  top: 0;
}
.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.slider.slider-vertical .slider-handle {
  margin-left: -5px;
  margin-top: -10px;
}
.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  border-left-color: #0480be;
  margin-left: 0;
}
.slider input {
  display: none;
}
.slider .tooltip-inner {
  white-space: nowrap;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background: #fff;
  border: 1px solid #a2bfd4;  
}
.slider-selection {
  position: absolute;
  background-color: #005593;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
.slider-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  opacity: 1;
  border: 0px solid transparent;
}
.slider-handle.round {
  /*-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;*/
}
.slider-handle.triangle {
  background: transparent none;
}


.slider-wrapper input[type="text"].value {
  width: 24px;
  text-align: center;
}

.slider-wrapper input[type="text"].value.from {
  margin-right: 14px;
}

.slider-wrapper input[type="text"].value.to {
  margin-left: 14px;
}


/* tooltip */

.slider .tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
  cursor: pointer;
}

.slider .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.slider .tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.slider .tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.slider .tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.slider .tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.slider .tooltip-inner {
  width: 27px;
  height: 23px;
  padding-top: 2px;
  line-height: 23px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #005593;
  font-size: 12px;
  text-align: center;
  position: relative;
}

.slider .tooltip.tiny .tooltip-inner {
  width: 13px;
  height: 10px;
  padding: 0;
  text-indent: -9999px;
}

.slider .tooltip.top.tiny .tooltip-arrow {
  width: 13px;
  height: 6px;
  background: url(../images/arrow-small.png) no-repeat;
  left: 14px;
}

.slider .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.slider .tooltip.top .tooltip-arrow {
  bottom: -4px;
  left: 50%;
  width: 27px;
  height: 6px;
  margin-left: -17px;
  display: block;
  background: url(../images/arrow.png) no-repeat;
}

.slider .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.slider .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.slider .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}
