/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.11.2015, 16:54:08
    Author     : User
*/

#ui-datepicker-div {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 1px solid #9bbad1;
  margin-left: -1px;
  z-index: 6000 !important;
}
#ui-datepicker-div.ui-widget-content {
  background: #e8eef2;
}
#ui-datepicker-div .ui-datepicker-buttonpane {
  border-color: #9bbad1;
}
#ui-datepicker-div .ui-datepicker-prev:hover {
  border: none;
  border-right: 1px solid #fff;
}
#ui-datepicker-div .ui-datepicker-next:hover {
  border: none;
  border-left: 1px solid #fff;
}
#ui-datepicker-div .ui-widget-header {
  background: none;
  border: none;
}
#ui-datepicker-div .ui-datepicker-title {
  background: #005593;
  border: none;
  color: #fff;
}
#ui-datepicker-div .ui-datepicker-calendar {
  background: #e8eef2;
  float: left;
}
#ui-datepicker-div .ui-corner-all {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
#ui-datepicker-div .ui-state-default {
  border: none;
  background: none;
  color: #005593;
}
#ui-datepicker-div .ui-state-default.ui-state-hover,
#ui-datepicker-div .ui-state-default.ui-state-active {
  background: #005593;
  color: #fff;
}
#ui-datepicker-div .ui-state-default.ui-state-highlight {
  background: #d6dfe4;
}
#ui-datepicker-div .ui_tpicker_hour_slider,
#ui-datepicker-div .ui_tpicker_minute_slider {
  border: 1px solid #a2bfd4;
  background: #fff;
  height: 6px;
}
#ui-datepicker-div .ui_tpicker_hour_slider .ui-slider-handle,
#ui-datepicker-div .ui_tpicker_minute_slider .ui-slider-handle {
  width: 13px;
  height: 10px;
  top: -21px;
  margin-left: -7px;
  background: #005593;
}
#ui-datepicker-div .ui_tpicker_hour_slider .ui-slider-handle:after,
#ui-datepicker-div .ui_tpicker_minute_slider .ui-slider-handle:after {
  content: '';
  width: 13px;
  height: 6px;
  background: url(../images/slider/arrow-small.png) no-repeat;
  top: 10px;
  position: absolute;
  display: inline-block;
}
#ui-datepicker-div .ui_tpicker_hour,
#ui-datepicker-div .ui_tpicker_minute {
  margin-top: 29px;
}
#ui-datepicker-div dt.ui_tpicker_hour_label,
#ui-datepicker-div dt.ui_tpicker_minute_label {
  position: relative;
  top: 8px;
}
#ui-datepicker-div .ui-timepicker-div {
  font-size: 13px;
  color: #005593;
  padding: 0 24px;
}
#ui-datepicker-div .ui-timepicker-div + .ui-datepicker-buttonpane button.ui-datepicker-current {
  font-size: 13px;
  color: #005593;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  margin-top: 10px;
  text-decoration: underline;
}
#ui-datepicker-div .ui-timepicker-div + .ui-datepicker-buttonpane button.ui-datepicker-current:hover {
  background: none !important;
  text-decoration: none;
}
#ui-datepicker-div .ui-timepicker-div + .ui-datepicker-buttonpane button.ui-datepicker-close {
  background: #005593;
  height: 29px;
  padding: 0 13px;
  text-align: center;
  line-height: 29px;
  font-size: 14px;
  color: #fff;
  font-weight: 100;
}
#ui-datepicker-div .ui-timepicker-div + .ui-datepicker-buttonpane button.ui-datepicker-close:hover {
  background: #99adc2;
}
