select {
    font-size: 14px;
    color: @text-blue-color;
    width: 272px;
    font-family: 'Segoe UI', Arial;
    font-weight: 400;
}
input{
    &[type="text"], &[type="url"],&[type="password"]{
        font-size: 14px;
        color: #005593;
        font-family: "Segoe UI",Arial;
        font-weight: 400;
        height: 31px;
        line-height: 31px;
        border: 1px solid #9BBAD1;
        padding: 0px 12px;
        margin-bottom: 5px;
    }
}
input[type=text][disabled],input[type=password][disabled],input[type=url][disabled],input[type=text][readonly],input[type=password][readonly],input[type=url][readonly] {
    color: #898989;
    border-color: #969696;
}

.form-control{
    .border-radius(0);
    .placeholder-color(@basic-input-border-color);
    transition: none;
    font-size: 14px;
    color: @text-blue-color;
    font-family: 'Segoe UI', Arial;
    font-weight: 400;
    height: 31px;
    line-height: 31px;
    border: 1px solid @basic-input-border-color;
    padding: 0 12px;
    margin-bottom: 5px;
    &:focus{
        border: 1px solid @basic-input-border-color;
        outline: 0px none;
        box-shadow: none;
    }
    &[disabled]{
        .placeholder-color(@disabled-input-border-color);
        color: @disabled-input-text-color;
        border-color: @disabled-input-border-color;
        cursor: default;

    }
    &[readonly]{
        .placeholder-color(@readonly-input-border-color);
        color: @readonly-input-text-color;
        border-color: @readonly-input-border-color;
        background-color: @readonly-input-bg-color;
    }
}
.input-search{

    & > input{
        .border-radius(0);
        .placeholder-color(@text-input-placeholder-color);
        border: none;
        height: 43px;
        width: 210px;
        &:active, &:focus{
            border: none;
        }

    }
    & > i{
        background: @btn-main-color url("@{icon-path}@{icon-search}") no-repeat scroll 8px 8px;
        pointer-events: auto;
        width: 32px;
        height: 32px;
        margin-right: 6px;
        margin-top: 6px;
        cursor: pointer;
        &:hover{
            background: @btn-hover-color url("@{icon-path}@{icon-search}") no-repeat scroll 8px 8px;
        }
    }
}

.radio{
    margin-top: 15px;
    margin-bottom: 15px;
    label{
        input[type='radio']{
            opacity: 0;
            float: left;
            width: @input-radio-image-size;
            height: @input-radio-image-size;
            cursor: pointer;
            + span{
                margin: 0;
                margin-left: -@input-radio-image-size;
                clear: none;

                /* Left padding makes room for image */
                padding: 0px 0 4px 24px;

                /* Make look clickable because they are */
                cursor: pointer;

                background: url('@{images-path}@{input-radio}') no-repeat;
            }
        }
        input[type='radio']{
            &:checked{
                + span{
                    background-image: url('@{images-path}@{input-radio-checked}');    

                }
            }
            &[disabled]{
                cursor: default;
                + span{
                    background-image: url('@{images-path}@{input-radio-disabled}');     
                    cursor: default;
                    color: @disabled-input-text-color;
                }
            }
            &[disabled]:checked{
                + span{
                    background-image: url('@{images-path}@{input-radio-disabled-checked}');    
                    cursor: default;
                    color: @disabled-input-text-color;
                }
            }
        } 
    }
}
.form-search{
    .parameters {
        background-color: @content-bg-color; 
        padding-top: 15px;
        padding-bottom: 15px;
        min-height: 167px;

    }
    .buttons{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    input[type="checkbox"]{
        height: 17px;
        width: 17px;
    }
    .reset-link{
        padding-left: 70px;
    }
}