label {
    font-size: 17px;
    font-weight: 400;
    color: @text-blue-color;
    display: inline-block;
    margin-bottom: 8px;
    width: auto;
    .icon-info {
        width: 17px;
        height: 18px;
        display: inline-block;
        background: url("@{images-path}@{ul-links}");
        position: relative;
        top: 4px;
        margin-left: 3px;
    }
    &.red {
        color: @text-red-color;
    }
    /*    &[type=radio],&[type=checkbox] {
            margin-right: 11px;
        }
        &[type=radio] + span,&[type=checkbox] + span {
            font-size: 14px;
        }
        &.radio {
            margin-bottom: 3px;
            span {
                cursor: pointer;
                font-size: 14px;
            }
            input[type="radio"] {
                display: none;
                + span {
                    cursor: pointer;
                    display: inline-block;
                    height: 21px;
                    background: url("@{images-path}@{input-radio}") no-repeat;
                    padding-left: 32px;
                }
    
            }
        }*/
}