

.nav {
    & > li {
        background: none;
        padding-left: 0;
    }
}

.nav-tabs {
    li {
        a {
            .border-radius(0);
            color: @tabs-text-color;
            background-color: @tabs-bg-color;
            border: none;
            font-size: 20px;
        }
        a:hover, a:focus {
            color: @tabs-hover-text-color;
            background: @tabs-hover-bg-color;
            border: none;
        }
        &.active {
            & > a {
                color: @tabs-active-text-color;
                background-color: @tabs-active-bg-color;
            }
            & > a:hover {
                color: @tabs-hover-text-color;
                background-color: @tabs-hover-bg-color;
            }
        }
    }

}
.tab-content {
    background-color: @tabs-content-bg-color;
    padding: 10px;
    margin-top: -3px;
    margin-left: 1px;
}