table{
    border-collapse: separate;
}
.table {
    font-family: "Segoe UI Regular", "Segoe UI";
    thead {
        background-color: @table-header-bg-color;
        th {
            color: @text-negative-color;
            font-weight: inherit;
        }
    }
    tbody {
        background-color: @table-body-bg-color;
    }
}

tr{
    height: 48px;
    &.red{
        td{
            color: @text-red-color;
        }
    }
}
td,th {
    font-size: 13px;
    text-align: left;
    line-height: normal;
    color: @table-text-color;
    vertical-align: middle !important;
}
td{
    .radio{
        text-align: center;
        > label {
            > input[type=radio]{
                opacity: 1;
            }
        }
    }
}
.table-bordered &>thead &>tr &>th,.table-bordered &>tbody &>tr &>td {
    border-bottom-width: 1px;
    border: 1px solid #9BBBD1;
}

.table-striped {
    > tbody {
        > tr {
            > td {
                border-top: none;
            }
            &:nth-of-type(4n+1) {
                background-color: @table-row-odd-bg-color;
            }
            &:nth-of-type(4n+2) {
                background-color: @table-row-odd-bg-color;
            }
            &:nth-of-type(4n) {
                background-color: @table-row-even-bg-color;
            }
            &:nth-of-type(4n+3) {
                background-color: @table-row-even-bg-color;
            }
        }
    }
}
.pagination-wrapper{
    margin-top: -25px;
}
.pagination{

    vertical-align: middle;
    > li {
        background:  none;
        padding-left: 0;        
        > a{
            background-color: @main-bg-color;
            border-color:  @btn-white-border-color;
            &:not(.disabled):hover, &:not(.disabled):focus{
                border-color: @btn-white-border-color;
                background-color: @btn-white-color;
                color: @text-blue-color ;
                text-decoration: none !important;
            }
            &.active{
                background-color: @btn-white-color;

            }
            &.disabled {
                background-color: @btn-disabled-color !important;
                border-color: @btn-disabled-color !important;
                cursor: default !important;
                color: @text-negative-color !important;
            }
        }
        &:first-child, &:last-child{
            > a {
                border-radius: 0;
                background-color: @main-bg-color;
                border-color: @btn-white-border-color;
                &.active{
                    background-color: @btn-white-color;
                }
            }
        }
    }
    .btn{
        height: 33px;
        line-height: 33px;
    }

}
.table-fixed{
    table-layout: fixed;
}
.table-client-details{

    width:100%;
    tr{
        height: 30px;
    }
    td{
        font-size: 17px;

        &:nth-child(even){
            color: @text-black-color;
        }
        &:nth-child(odd){
            color: @text-blue-color;
        }
    }
}
.table-action-plan{
    width:100/3%;
}
.table-transparent{
    > tbody{
        background-color: transparent;
        > tr {
            > td{
                border-top: none;

            }
        }
    }
}
.table-sm{
    > tbody{
        > tr{
            height: auto;
            > td {
                padding: 2px;
            }
        }
    }   
}

.ews, .cmt{
    width: 100%;
    display: block;
    text-align: center;
    border: 1px solid black !important;
    &-green{
        background-color: @classification-bg-green-color;
        color: @classification-text-green-color;
        font-weight: bold;
    }
    &-yellow{
        background-color: @classification-bg-yellow-color;
        color: @classification-text-yellow-color;
    }
    &-red{
        background-color: @classification-bg-red-color;
        color: @classification-text-red-color;
    }
}
