
.tooltip{
    &-inner{
        .border-radius(0);
        background-color: @tooltip-color;
        color: @tooltip-text-color;
        border: 1px solid @tooltip-border-color;

        padding: 20px;

    }
    &.top{
        margin-top: -8px;
        .tooltip-arrow{
            border: none;
            /*            border-top-color: @tooltip-color;
                        bottom: -4px;
                        margin-left: -10px;
                        border-width: 10px 10px 0px;*/
            height: 10px;
            width: 18px;
            background: transparent url('@{images-path}@{tooltip-arrow-top}') no-repeat 0px 0px;
            bottom: -4px;
        }
    }
    &.in{
        opacity: 1;
    }
}
.tooltip-info{
    padding-left: 10px;
}
