/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.11.2015, 16:53:04
    Author     : User
*/

/*GENERAL VARIABLES*/
@container-width: 1190px;


/*PATH VARIABLES*/
@images-path : 'images/';
@icon-path: '@{images-path}icons/';
@ul-li-dot: 'ul-li-dot.png';
@ul-links: 'ul-links.png';
@icon-info: 'icon-info.png';
@input-radio: 'input-radio.png';
@input-radio-disabled: 'input-radio-disabled.png';
@input-radio-checked: 'input-radio-checked.png';
@input-radio-disabled-checked: 'input-radio-disabled-checked.png';
@navigation-active-arrow: 'navigation-active-arrow.png';
@icon-search: 'search-icon.png';
@icon-user: 'user-icon.png';
@icon-calendar: 'icon-calendar.png';
@icon-left: 'arrow-left.png';
@icon-right: 'arrow-right.png';
@icon-check-green: 'check-green-small.png';
@icon-exclamation-mark: 'exclamation-mark.png';

/*NAVBAR VARIABLES*/
@main-nav-height: 46px;
@sub-nav-height: 40px;
@main-nav-li-width: 170px;


/*TOOLTIP VARIABLES*/

@tooltip-arrow-top: 'tooltip-arrow-down.png';

/*FORMS VARIABLES*/

@input-radio-image-size: 21px;