/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.11.2015, 10:58:35
    Author     : User
*/
@import "css/ui-datepicker-theme.css";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.11.2015, 16:52:10
    Author     : User
*/
/*TEXT COLORS*/
/*BACKGROUND COLORS*/
/*BUTTON COLORS*/
/*TABLE COLORS*/
/*NAV TABS COLORS*/
/*FORMS ELEMENTS COLORS*/
/*TOOLTIP COLORS*/
/*ACCORDEON COLORS*/
/*ACTION PLAN COLORS*/
/*CLASSIFICATION COLORS*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.11.2015, 16:53:04
    Author     : User
*/
/*GENERAL VARIABLES*/
/*PATH VARIABLES*/
/*NAVBAR VARIABLES*/
/*TOOLTIP VARIABLES*/
/*FORMS VARIABLES*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.11.2015, 10:08:11
    Author     : User
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.11.2015, 14:17:43
    Author     : User
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  cursor: pointer;
}
h1 {
  font-size: 43px;
  font-weight: 100;
  color: #005593;
}
h2 {
  font-weight: 400;
  color: #005593;
  font-size: 34px;
  line-height: 40px;
}
h3 {
  font-weight: 400;
  color: #005593;
  font-size: 24px;
}
h4 {
  font-size: 17px;
  color: #005593;
  font-weight: 700;
}
h5 {
  font-size: 17px;
  color: #383838;
  font-weight: 700;
}
h6 {
  font-size: 17px;
  color: #005593;
  font-weight: 400;
}
strong {
  color: #000000;
}
.page-header {
  padding: 15px;
}
.link-client,
.link-signal {
  text-decoration: underline;
  font-weight: 700;
  color: #000000;
}
.link-client:hover,
.link-signal:hover {
  font-weight: 700;
  text-decoration: underline;
  color: #000000;
}
.text-blue {
  color: #005593 !important;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #005593;
  border: 1px solid #005593;
  box-sizing: content-box;
  color: #FFFFFF;
  cursor: pointer;
  vertical-align: bottom;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  outline: 0px none;
  text-decoration: none;
  font-size: 15px;
  line-height: 39px;
  padding: 0px 13px;
}
.btn img {
  margin-right: 10px;
  position: relative;
  top: 6px;
  vertical-align: baseline;
}
.btn.disabled {
  background-color: #CACACA !important;
  border-color: #CACACA !important;
  cursor: default !important;
  color: #FFFFFF !important;
}
.btn:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.btn:not(.disabled):hover,
.btn:not(.disabled):focus,
.btn:not(.disabled):active {
  background-color: #99adc2;
  border-color: #99adc2;
  color: #FFFFFF;
}
.btn.active {
  box-shadow: none;
}
.btn.btn-white {
  background-color: #FFFFFF;
  border: 1px solid #9BBAD1;
  color: #005593;
}
.btn.btn-white:not(.disabled):hover,
.btn.btn-white:not(.disabled):focus {
  background-color: #99adc2;
  color: #FFFFFF;
  text-decoration: none !important;
}
.btn.btn-white.active {
  background-color: #FFFFFF;
}
.btn-default {
  height: 39px;
}
.btn-lg {
  font-size: 20px;
  height: 49px;
  line-height: 49px;
  min-width: 45px;
  padding: 0px 19px;
}
.btn-lg img {
  margin-right: 10px;
  position: relative;
  top: 7px;
}
.btn-submit {
  font-size: 15px;
  height: 31px;
  line-height: 31px;
  min-width: 48px;
  padding: 0px 12px;
}
.btn-submit img {
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.btn-sm {
  font-size: 14px;
  height: 27px;
  line-height: 27px;
  min-width: 27px;
  padding: 0px 13px;
}
.btn-sm img {
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.btn-white {
  background-color: transparent;
  border: 1px solid #9BBAD1;
  color: #005593;
}
.btn-white:not(.disabled):hover,
.btn-white:not(.disabled):focus {
  background-color: #FFFFFF;
  color: #005593;
  text-decoration: none !important;
}
.btn-white.active {
  background-color: #FFFFFF;
}
.btn-wide {
  padding: 1px 42px;
}
select {
  font-size: 14px;
  color: #005593;
  width: 272px;
  font-family: 'Segoe UI', Arial;
  font-weight: 400;
}
input[type="text"],
input[type="url"],
input[type="password"] {
  font-size: 14px;
  color: #005593;
  font-family: "Segoe UI", Arial;
  font-weight: 400;
  height: 31px;
  line-height: 31px;
  border: 1px solid #9BBAD1;
  padding: 0px 12px;
  margin-bottom: 5px;
}
input[type=text][disabled],
input[type=password][disabled],
input[type=url][disabled],
input[type=text][readonly],
input[type=password][readonly],
input[type=url][readonly] {
  color: #898989;
  border-color: #969696;
}
.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  transition: none;
  font-size: 14px;
  color: #005593;
  font-family: 'Segoe UI', Arial;
  font-weight: 400;
  height: 31px;
  line-height: 31px;
  border: 1px solid #9BBAD1;
  padding: 0 12px;
  margin-bottom: 5px;
}
.form-control::-webkit-input-placeholder {
  color: #9BBAD1;
}
.form-control:-moz-placeholder {
  color: #9BBAD1;
}
.form-control::-moz-placeholder {
  color: #9BBAD1;
}
.form-control:-ms-input-placeholder {
  color: #9BBAD1;
}
.form-control:focus {
  border: 1px solid #9BBAD1;
  outline: 0px none;
  box-shadow: none;
}
.form-control[disabled] {
  color: #898989;
  border-color: #969696;
  cursor: default;
}
.form-control[disabled]::-webkit-input-placeholder {
  color: #969696;
}
.form-control[disabled]:-moz-placeholder {
  color: #969696;
}
.form-control[disabled]::-moz-placeholder {
  color: #969696;
}
.form-control[disabled]:-ms-input-placeholder {
  color: #969696;
}
.form-control[readonly] {
  color: #898989;
  border-color: #969696;
  background-color: #FFFFFF;
}
.form-control[readonly]::-webkit-input-placeholder {
  color: #969696;
}
.form-control[readonly]:-moz-placeholder {
  color: #969696;
}
.form-control[readonly]::-moz-placeholder {
  color: #969696;
}
.form-control[readonly]:-ms-input-placeholder {
  color: #969696;
}
.input-search > input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  height: 43px;
  width: 210px;
}
.input-search > input::-webkit-input-placeholder {
  color: #75A3C5;
}
.input-search > input:-moz-placeholder {
  color: #75A3C5;
}
.input-search > input::-moz-placeholder {
  color: #75A3C5;
}
.input-search > input:-ms-input-placeholder {
  color: #75A3C5;
}
.input-search > input:active,
.input-search > input:focus {
  border: none;
}
.input-search > i {
  background: #005593 url("images/icons/search-icon.png") no-repeat scroll 8px 8px;
  pointer-events: auto;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  margin-top: 6px;
  cursor: pointer;
}
.input-search > i:hover {
  background: #99adc2 url("images/icons/search-icon.png") no-repeat scroll 8px 8px;
}
.radio {
  margin-top: 15px;
  margin-bottom: 15px;
}
.radio label input[type='radio'] {
  opacity: 0;
  float: left;
  width: 21px;
  height: 21px;
  cursor: pointer;
}
.radio label input[type='radio'] + span {
  margin: 0;
  margin-left: -21px;
  clear: none;
  /* Left padding makes room for image */
  padding: 0px 0 4px 24px;
  /* Make look clickable because they are */
  cursor: pointer;
  background: url('images/input-radio.png') no-repeat;
}
.radio label input[type='radio']:checked + span {
  background-image: url('images/input-radio-checked.png');
}
.radio label input[type='radio'][disabled] {
  cursor: default;
}
.radio label input[type='radio'][disabled] + span {
  background-image: url('images/input-radio-disabled.png');
  cursor: default;
  color: #898989;
}
.radio label input[type='radio'][disabled]:checked + span {
  background-image: url('images/input-radio-disabled-checked.png');
  cursor: default;
  color: #898989;
}
.form-search .parameters {
  background-color: #D8E1E9;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 167px;
}
.form-search .buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-search input[type="checkbox"] {
  height: 17px;
  width: 17px;
}
.form-search .reset-link {
  padding-left: 70px;
}
nav.navbar {
  margin-bottom: 30px;
}
.navbar {
  background-color: #cde6f8;
  color: #005593;
  border: none;
  padding: 0;
  margin: 0;
}
.main-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 46px;
  min-height: 46px;
}
.main-nav > ul {
  clear: both;
}
.main-nav > ul > li {
  width: 170px;
  text-align: center;
  padding: 0;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.647);
}
.main-nav > ul > li.active > a {
  background: #005593;
  color: #FFFFFF;
  text-shadow: none;
}
.main-nav > ul > li:hover:not(.active) > a {
  color: #FFFFFF;
  background: #99adc2;
  text-shadow: none;
}
.main-nav  > ul  > li  > a,
.main-nav  > ul  > li:not(.active)  > a:focus {
  color: #005593;
  background-color: #cde6f8;
  font-size: 20px;
  text-decoration: none;
}
.sub-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 40px;
  min-height: 40px;
  background-color: #005593;
}
.sub-nav > ul {
  clear: both;
}
.sub-nav > ul > li {
  padding-bottom: 0px;
}
.sub-nav > ul > li > a {
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 8px;
}
.sub-nav > ul > li.active > a {
  font-weight: bold;
  color: #FFFFFF;
}
.sub-nav > ul > li:hover > a,
.sub-nav > ul > li:focus > a {
  color: #FFFFFF;
  background-color: transparent;
  background: url("images/navigation-active-arrow.png") no-repeat bottom;
}
.navbar-right {
  margin-right: 10px;
}
.nav > li {
  background: none;
  padding-left: 0;
}
.nav-tabs li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #FFFFFF;
  background-color: #005593;
  border: none;
  font-size: 20px;
}
.nav-tabs li a:hover,
.nav-tabs li a:focus {
  color: #FFFFFF;
  background: #99adc2;
  border: none;
}
.nav-tabs li.active > a {
  color: #005593;
  background-color: #ffffff;
}
.nav-tabs li.active > a:hover {
  color: #FFFFFF;
  background-color: #99adc2;
}
.tab-content {
  background-color: #FFFFFF;
  padding: 10px;
  margin-top: -3px;
  margin-left: 1px;
}
.tooltip-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #cde6f8;
  color: #0052A1;
  border: 1px solid #0052A1;
  padding: 20px;
}
.tooltip.top {
  margin-top: -8px;
}
.tooltip.top .tooltip-arrow {
  border: none;
  /*            border-top-color: @tooltip-color;
                        bottom: -4px;
                        margin-left: -10px;
                        border-width: 10px 10px 0px;*/
  height: 10px;
  width: 18px;
  background: transparent url('images/tooltip-arrow-down.png') no-repeat 0px 0px;
  bottom: -4px;
}
.tooltip.in {
  opacity: 1;
}
.tooltip-info {
  padding-left: 10px;
}
.panel {
  border: none;
  margin-top: 0px;
}
.panel-title {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.panel-heading,
.panel-body {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #9BBAD1;
}
.panel-default > .panel-heading {
  border-color: #9BBAD1;
  background: #E5EBF0 none repeat scroll 0% 0%;
  color: #005593;
}
.panel-default > .panel-heading:hover {
  background: #005593 none repeat scroll 0% 0%;
  color: #fff;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #9BBAD1;
}
.panel-default.collapsed .panel-heading {
  background: #E5EBF0 none repeat scroll 0% 0%;
  color: #005593;
}
.panel-default.collapsed .panel-heading:hover {
  background: #005593 none repeat scroll 0% 0%;
  color: #fff;
}
.panel-client-detail {
  margin-bottom: 5px;
  box-shadow: none;
}
.panel-client-detail > .panel-heading {
  border-color: #9BBAD1;
  background: #E5EBF0 none repeat scroll 0% 0%;
  color: #005593;
}
.panel-client-detail > .panel-heading:hover {
  background: #005593 none repeat scroll 0% 0%;
  color: #fff;
}
.panel-client-detail > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #9BBAD1;
}
.panel-client-detail.collapsed .panel-heading {
  background: #E5EBF0 none repeat scroll 0% 0%;
  color: #005593;
}
.panel-client-detail.collapsed .panel-heading:hover {
  background: #005593 none repeat scroll 0% 0%;
  color: #fff;
}
.panel-client-detail .panel-body {
  padding: 0;
  border: none;
}
.panel-client-detail .panel-body .table-bordered {
  border: none;
}
.panel-client-detail-lg .panel-heading {
  padding: 5px 15px;
}
.panel-client-detail-lg .panel-title {
  font-size: 24px;
}
.panel-client-detail-sm .panel-heading {
  padding: 2px 5px;
}
.panel-client-detail-sm .panel-title {
  font-size: 17px;
}
#filter-additional-options-wrapper .panel {
  background-color: transparent;
}
#filter-additional-options-wrapper .panel-body {
  background-color: white;
  margin-top: 10px;
}
table {
  border-collapse: separate;
}
.table {
  font-family: "Segoe UI Regular", "Segoe UI";
}
.table thead {
  background-color: #005593;
}
.table thead th {
  color: #FFFFFF;
  font-weight: inherit;
}
.table tbody {
  background-color: #FFFFFF;
}
tr {
  height: 48px;
}
tr.red td {
  color: #ed1c24;
}
td,
th {
  font-size: 13px;
  text-align: left;
  line-height: normal;
  color: #333333;
  vertical-align: middle !important;
}
td .radio {
  text-align: center;
}
td .radio > label > input[type=radio] {
  opacity: 1;
}
.table-bordered  > thead  > tr  > th,
.table-bordered  > tbody  > tr  > td {
  border-bottom-width: 1px;
  border: 1px solid #9BBBD1;
}
.table-striped > tbody > tr > td {
  border-top: none;
}
.table-striped > tbody > tr:nth-of-type(4n+1) {
  background-color: #D8E1E9;
}
.table-striped > tbody > tr:nth-of-type(4n+2) {
  background-color: #D8E1E9;
}
.table-striped > tbody > tr:nth-of-type(4n) {
  background-color: #FFFFFF;
}
.table-striped > tbody > tr:nth-of-type(4n+3) {
  background-color: #FFFFFF;
}
.pagination-wrapper {
  margin-top: -25px;
}
.pagination {
  vertical-align: middle;
}
.pagination > li {
  background: none;
  padding-left: 0;
}
.pagination > li > a {
  background-color: #E5EBF0;
  border-color: #9BBAD1;
}
.pagination > li > a:not(.disabled):hover,
.pagination > li > a:not(.disabled):focus {
  border-color: #9BBAD1;
  background-color: #FFFFFF;
  color: #005593;
  text-decoration: none !important;
}
.pagination > li > a.active {
  background-color: #FFFFFF;
}
.pagination > li > a.disabled {
  background-color: #CACACA !important;
  border-color: #CACACA !important;
  cursor: default !important;
  color: #FFFFFF !important;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
  border-radius: 0;
  background-color: #E5EBF0;
  border-color: #9BBAD1;
}
.pagination > li:first-child > a.active,
.pagination > li:last-child > a.active {
  background-color: #FFFFFF;
}
.pagination .btn {
  height: 33px;
  line-height: 33px;
}
.table-fixed {
  table-layout: fixed;
}
.table-client-details {
  width: 100%;
}
.table-client-details tr {
  height: 30px;
}
.table-client-details td {
  font-size: 17px;
}
.table-client-details td:nth-child(even) {
  color: #383838;
}
.table-client-details td:nth-child(odd) {
  color: #005593;
}
.table-action-plan {
  width: 33.33333333%;
}
.table-transparent > tbody {
  background-color: transparent;
}
.table-transparent > tbody > tr > td {
  border-top: none;
}
.table-sm > tbody > tr {
  height: auto;
}
.table-sm > tbody > tr > td {
  padding: 2px;
}
.ews,
.cmt {
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid black !important;
}
.ews-green,
.cmt-green {
  background-color: #008000;
  color: #FFFFFF;
  font-weight: bold;
}
.ews-yellow,
.cmt-yellow {
  background-color: #FFFF00;
  color: #000000;
}
.ews-red,
.cmt-red {
  background-color: #F2C292;
  color: #000000;
}
label {
  font-size: 17px;
  font-weight: 400;
  color: #005593;
  display: inline-block;
  margin-bottom: 8px;
  width: auto;
  /*    &[type=radio],&[type=checkbox] {
            margin-right: 11px;
        }
        &[type=radio] + span,&[type=checkbox] + span {
            font-size: 14px;
        }
        &.radio {
            margin-bottom: 3px;
            span {
                cursor: pointer;
                font-size: 14px;
            }
            input[type="radio"] {
                display: none;
                + span {
                    cursor: pointer;
                    display: inline-block;
                    height: 21px;
                    background: url("@{images-path}@{input-radio}") no-repeat;
                    padding-left: 32px;
                }
    
            }
        }*/
}
label .icon-info {
  width: 17px;
  height: 18px;
  display: inline-block;
  background: url("images/ul-links.png");
  position: relative;
  top: 4px;
  margin-left: 3px;
}
label.red {
  color: #ed1c24;
}
body {
  font-family: "Segoe UI", Arial;
  background-color: #E5EBF0;
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 60px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #dddddd;
}
.container {
  width: 1190px;
  max-width: none !important;
  padding: 0;
}
.container-white {
  background-color: white;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
a {
  color: #005593;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
p {
  font-size: 15px;
  text-align: left;
  margin-bottom: 18px;
}
p.bold {
  font-style: italic;
}
p.italic {
  font-style: italic;
}
p.light {
  font-weight: 100;
}
ul {
  margin-bottom: 14px;
  margin-left: 0;
}
ul > li {
  line-height: 16px;
  padding-top: 2px;
  padding-bottom: 3px;
  background: url("images/ul-li-dot.png") no-repeat 10px 9px;
  list-style-type: none;
  padding-left: 37px;
}
ul > li a {
  text-decoration: none;
}
ul.links {
  margin-left: 0;
}
ul.links li {
  padding-left: 22px;
  background: url("images/ul-links.png") no-repeat 4px 3px;
  list-style-type: none;
}
ul.links a {
  padding-left: 15px;
  display: block;
}
ul.links a:hover {
  text-decoration: underline;
}
ul.links-block {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}
ul.links-block li {
  padding: 0;
  line-height: 17px;
  background-image: none;
}
ul.links-block li a {
  line-height: 17px;
  font-size: 14px;
  background-image: url("images/ul-links.png");
  background-repeat: no-repeat;
  background-position: 8px 6px;
  padding-left: 27px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  height: 100%;
}
ul.links-block li a:hover {
  text-decoration: underline;
}
ul.links-block li a:active {
  background-color: #e5ebf0;
}
ul[type=a] li {
  list-style: none;
  counter-increment: my-counter;
  position: relative;
}
ul[type=a] li:before {
  position: absolute;
  left: -20px;
  content: counter(my-counter, lower-latin) ")";
}
ol {
  margin-left: 22px;
  margin-bottom: 14px;
}
ol li {
  padding-left: 10px;
  line-height: 15px;
  padding-top: 2px;
  padding-bottom: 3px;
}
ol.links {
  list-style-image: url("images/ul-links.png");
  padding-left: 0;
}
ol.links li {
  padding-left: 0;
}
ol.links li a {
  text-decoration: none;
}
ol.links li a:hover {
  text-decoration: underline;
}
ol.links a {
  padding-left: 15px;
  display: block;
}
ol.links a:hover {
  text-decoration: underline;
}
ol.bold-numbers {
  font-weight: bold;
}
ol.bold-numbers a {
  font-weight: normal;
}
ol[type=a] li {
  list-style: none;
  counter-increment: my-counter;
  position: relative;
}
ol[type=a] li:before {
  position: absolute;
  left: -20px;
  content: counter(my-counter, lower-latin) ")";
}
textarea {
  font-size: 14px;
  color: #005593;
  font-family: 'Segoe UI', Arial;
  font-weight: 400;
  border: 1px solid #9bbad1;
  padding: 5px 5px;
  height: 100px;
  margin-bottom: 10px;
}
.logged-user {
  font-size: 16px;
  color: #006;
  margin-top: 22px;
  margin-right: 15px;
}
.collapsing {
  -webkit-transition: none;
  transition: none;
}
.datepicker button {
  width: 21px;
  height: 22px;
  background: transparent url("images/icon-calendar.png") no-repeat scroll 0% 0%;
  display: inline-block;
  position: relative;
  right: 30px;
  top: 0px;
  cursor: pointer;
  border: medium none;
  text-indent: -9999px;
}
.datepicker button[disabled],
.datepicker button[disabled="disabled"] {
  opacity: 0.4;
  cursor: default;
}
.affix#control-panel {
  position: fixed;
  bottom: 0px;
}
.affix-bottom#control-panel {
  position: absolute;
}
span.icon-user {
  padding-right: 20px;
  background: transparent url("images/icons/user-icon.png") no-repeat scroll;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
span.icon-info {
  margin-left: 10px;
  margin-top: -5px;
  background: transparent url("images/icons/icon-info.png") no-repeat scroll;
  height: 17px;
  width: 18px;
  vertical-align: top;
}
span.icon-check-green {
  background: transparent url('images/icons/check-green-small.png') no-repeat scroll;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
span.icon-exclamation-mark {
  background: transparent url('images/icons/exclamation-mark.png') no-repeat scroll;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
.search-results {
  padding-bottom: 220px;
}
.search-results .table {
  margin-bottom: 0;
  border: 10px solid #D8E1E9;
}
.icon-left {
  background: #005593 url("images/icons/arrow-left.png") no-repeat scroll 50% 50%;
  height: 39px;
  width: 8px;
}
.icon-right {
  background: #005593 url("images/icons/arrow-right.png") no-repeat scroll 50% 50%;
  height: 39px;
  width: 8px;
}
#control-panel {
  width: 1190px;
  z-index: 3;
  left: 0;
  width: 100%;
  /*background-color: @control-panel-bg-color;*/
}
#control-panel .container {
  background-color: white;
  padding: 10px 15px;
}
.datepicker input {
  height: 36px;
}
.datepicker > span {
  padding-right: 20px;
}
.action-plan {
  padding: 15px 0;
}
.action-plan > .plan {
  border: 1px solid #9BBBD1;
  padding: 3px;
}
.speficic-fields {
  background-color: #F2F2F2;
  padding: 15px 10px;
}
#detail-client-note {
  width: 100%;
}
/*# sourceMappingURL=theme.css.map */