/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.11.2015, 10:58:35
    Author     : User
*/

@import "css/ui-datepicker-theme.css";


@import 'less/colors.less';
@import 'less/variables.less';
@import 'mixins/border-radius.less';
@import 'mixins/place-holder.less';

@import 'less/typography.less';
@import 'less/buttons.less';
@import 'less/forms.less';
@import 'less/navbar.less';
@import 'less/navs.less';
@import 'less/tooltip.less';
@import 'less/panel.less';
@import 'less/table.less';
@import 'less/labels.less';

//Set proper text font
body {
    font-family: "Segoe UI", Arial;
    background-color: @main-bg-color;
    font-weight: 400; 
    font-size: 15px;
    padding-bottom: 60px;
}

hr{
    margin-top:15px;
    margin-bottom: 15px;
    border-color: @hr-color;
}
//Makes container non-responsive/fiex sized
.container{
    width: @container-width;
    max-width: none !important;
    padding: 0;
}
.container-white{
    background-color: white;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
a {
    color: @text-blue-color;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}


p {
    font-size: 15px;
    text-align: left;
    margin-bottom: 18px;
    &.bold {
        font-style: italic;
    }
    &.italic {
        font-style: italic;
    }
    &.light {
        font-weight: 100;
    }
}

ul {
    margin-bottom: 14px;
    margin-left: 0;
    & > li {
        line-height: 16px;
        padding-top: 2px;
        padding-bottom: 3px;
        background: url("@{images-path}@{ul-li-dot}") no-repeat 10px 9px;
        list-style-type: none;
        padding-left: 37px;
        a {
            text-decoration: none;
        }
    }
    &.links {
        margin-left: 0;
        li {
            padding-left: 22px;
            background: url("@{images-path}@{ul-links}") no-repeat 4px 3px;
            list-style-type: none;
        }
        a {
            padding-left: 15px;
            display: block;
            &:hover{
                text-decoration: underline;
            }
        }  
    }
    &.links-block {
        list-style-type: none;
        list-style-image: none;
        margin: 0;
        li {
            padding: 0;
            line-height: 17px;
            background-image: none;
            a {
                line-height: 17px;
                font-size: 14px;
                background-image: url("@{images-path}@{ul-links}");
                background-repeat: no-repeat;
                background-position: 8px 6px;
                padding-left: 27px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                display: inline-block;
                height: 100%;
            }
            a:hover {
                text-decoration: underline;
            }
            a:active {
                background-color: #e5ebf0;
            }
        }
    }
    &[type=a] {
        li {
            list-style: none;
            counter-increment: my-counter;
            position: relative;
        }
        li:before {
            position: absolute;
            left: -20px;
            content: counter(my-counter, lower-latin) ")";
        }
    }
}


ol {
    margin-left: 22px;
    margin-bottom: 14px;
    li {
        padding-left: 10px;
        line-height: 15px;
        padding-top: 2px;
        padding-bottom: 3px;
    }
    &.links {
        list-style-image: url("@{images-path}@{ul-links}");
        padding-left: 0;
        li {
            padding-left: 0;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }

        }
        a {
            padding-left: 15px;
            display: block;
            &:hover {
                text-decoration: underline;
            }
        }

    }
    &.bold-numbers {
        font-weight: bold;
        a {
            font-weight: normal;
        }
    }
    &[type=a] {
        li {
            list-style: none;
            counter-increment: my-counter;
            position: relative;
        }
        li:before {
            position: absolute;
            left: -20px;
            content: counter(my-counter, lower-latin) ")";
        }
    }
}



textarea {
    font-size: 14px;
    color: @text-blue-color;
    font-family: 'Segoe UI', Arial;
    font-weight: 400;
    border: 1px solid #9bbad1;
    padding: 5px 5px;
    height: 100px;
    margin-bottom: 10px;
}


.logged-user{
    font-size: 16px;
    color: #006;
    margin-top: 22px;
    margin-right: 15px;
}




.collapsing {
    -webkit-transition: none;
    transition: none;
}

.datepicker {
    button{
        width: 21px;
        height: 22px;
        background: transparent url("@{images-path}@{icon-calendar}") no-repeat scroll 0% 0%;
        display: inline-block;
        position: relative;
        right: 30px;
        top: 0px;
        cursor: pointer; 
        border: medium none;
        text-indent: -9999px;
        &[disabled], &[disabled="disabled"]{
            opacity: 0.4;
            cursor: default;
        }
    }
}




.affix#control-panel{
    position:fixed;
    bottom:0px;

}
.affix-bottom#control-panel{
    position: absolute;
}

span{
    &.icon-user{
        padding-right: 20px;
        background: transparent url("@{icon-path}@{icon-user}") no-repeat scroll;
        height: 16px;
        width: 16px;
        vertical-align: middle;
    }
    &.icon-info{
        margin-left: 10px;
        margin-top: -5px;
        background: transparent url("@{icon-path}@{icon-info}") no-repeat scroll;
        height: 17px;
        width: 18px;
        vertical-align: top;

    }
    &.icon-check-green{
        background: transparent url('@{icon-path}@{icon-check-green}') no-repeat scroll;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    &.icon-exclamation-mark{
        background: transparent url('@{icon-path}@{icon-exclamation-mark}') no-repeat scroll;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }

}
.search-results{
    padding-bottom: 220px; //create space for sticky control panel
    .table{
        margin-bottom: 0;
        border: 10px solid @content-bg-color;
    }
}
.icon-left{
    background: @btn-main-color url("@{icon-path}@{icon-left}") no-repeat scroll 50% 50%;
    height: 39px;
    width: 8px;
}
.icon-right{
    background: @btn-main-color url("@{icon-path}@{icon-right}") no-repeat scroll 50% 50%;
    height: 39px;
    width: 8px;
}
#control-panel{
    width: @container-width;
    z-index: 3;
    left: 0;
    width: 100%; 
    /*background-color: @control-panel-bg-color;*/
    .container{
        background-color: white;
            padding: 10px 15px;


    }
}
.datepicker{
    input{
        height: 36px;
    }

    > span{
        padding-right: 20px;
    }
}
.action-plan{
    padding: 15px 0;
    > .plan{
        border: 1px solid @action-plan-border-color;
        padding: 3px;
    }
}
.speficic-fields{
    background-color: #F2F2F2;
    padding: 15px 10px;
}
#detail-client-note{
    width: 100%;
}